<div class="home-contents__item is-sponsors">
  <div class="container is-md">
    <div class="sponsors">
      <h2 class="home-contents__item-title">Sponsors</h2>
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <!-- GMOペパボ様 -->
          <div class="sponsors__item">
            <h2 class="sponsors__item-title">Venue Sponsor</h2>
            <img class="sponsors__item-image" alt="GMOペパボ株式会社" src="{{ deploypath }}/assets/images/gmo-pepabp.png">
            <h3 class="sponsors__item-company">GMOペパボ株式会社</h3>
          </div><!-- .sponsors__item -->
        </div><!-- .col -->

        <div class="col-xs-12 col-md-4">
          <!-- SanSan様 -->
          <div class="sponsors__item">
            <h2 class="sponsors__item-title">Foods Sponsor</h2>
            <img class="sponsors__item-image" alt="Sansan株式会社" src="{{ deploypath }}/assets/images/sansan.png">
            <h3 class="sponsors__item-company">Sansan株式会社</h3>
          </div><!-- .sponsors__item -->
        </div><!-- .col -->

        <div class="col-xs-12 col-md-4">
          <!-- メドピア 様 -->
          <div class="sponsors__item">
            <h2 class="sponsors__item-title">Drink Sponsor</h2>
            <img class="sponsors__item-image" alt="メドピア株式会社" src="{{ deploypath }}/assets/images/medpeer.png">
            <h3 class="sponsors__item-company">メドピア株式会社</h3>
          </div><!-- .sponsors__item -->
        </div><!-- .col -->

      </div><!-- .row -->
    </div><!-- .sponsors -->
  </div><!-- .container -->
</div><!-- .home-contents__item -->
