<div class="home-contents__item is-schedule">
  <div class="container is-md">
    <div class="schedule">
      <h2 class="home-contents__item-title">Schedule</h2>

      <div class="schedule__items">
        <div class="schedule__item">
          <div class="schedule__item-time">
            12:30
          </div>
          <div class="schedule__item-body">
            開場
          </div><!-- .schedule__item-body -->
        </div><!-- .schedule__item -->

        <div class="schedule__item is-info">
          <div class="schedule__item-time">
            13:00
          </div>
          <div class="schedule__item-body">
            <div class="schedule__item-body-inner">
              <div class="schedule__item-image-container">
                <img class="schedule__item-image" alt="Tama.rb" src="{{ deploypath }}/assets/images/tamarb.png">
              </div><!-- .schedule__item-image-container -->
              <div class="schedule__item-text-container">
                <h3 class="schedule__item-title">開会・協賛紹介・注意事項の案内</h3>
                <div class="schedule__item-speaker">fuqda</div><!-- .schedule__item-speaker -->
              </div>
              <!--.schedule__item-text-container  -->
            </div><!-- .schedule__item-body-inner -->
          </div><!-- .schedule__item-body -->
        </div><!-- .schedule__item -->

        <div class="schedule__item is-keynote">
          <div class="schedule__item-time">
            13:10
          </div>
          <div class="schedule__item-body">
            <div class="schedule__item-body-inner">
              <div class="schedule__item-image-container">
                <img class="schedule__item-image" alt="jnchito" src="{{ deploypath }}/assets/images/jnchito.jpg">
              </div><!-- .schedule__item-image-container -->
              <div class="schedule__item-text-container">
                <div class="schedule__item-label">Keynote</div>
                <h3 class="schedule__item-title">なぜテストを書くの？（または書かないの？）</h3>
                <div class="schedule__item-speaker">Junichi Ito</div><!-- .schedule__item-speaker -->
              </div><!--.schedule__item-text-container  -->
            </div><!-- .schedule__item-body-inner -->
          </div><!-- .schedule__item-body -->
        </div><!-- .schedule__item -->

        <div class="schedule__item is-break">
          <div class="schedule__item-time">
            13:50
          </div>
          <div class="schedule__item-body">
            休憩
          </div><!-- .schedule__item-body -->
        </div><!-- .schedule__item -->

        <div class="schedule__item is-cfp">
          <div class="schedule__item-time">
            14:00
          </div>
          <div class="schedule__item-body">
            <div class="schedule__item-body-inner">
              <div class="schedule__item-image-container">
                <img class="schedule__item-image" alt="speaker name" src="{{ deploypath }}/assets/images/konchan_____.jpg">
              </div><!-- .schedule__item-image-container -->
              <div class="schedule__item-text-container">
                <h3 class="schedule__item-title">プロになるためのレビューのススメ</h3>
                <div class="schedule__item-speaker">konchan</div><!-- .schedule__item-speaker -->
              </div> <!--.schedule__item-text-container  -->
            </div><!-- .schedule__item-body-inner -->
          </div><!-- .schedule__item-body -->
        </div><!-- .schedule__item -->

        <div class="schedule__item is-member">
          <div class="schedule__item-time">
            14:10
          </div>
          <div class="schedule__item-body">
            <div class="schedule__item-body-inner">
              <div class="schedule__item-image-container">
                <img class="schedule__item-image" alt="speaker name"
                  src="{{ deploypath }}/assets/images/fuqda90.png">
              </div><!-- .schedule__item-image-container -->
              <div class="schedule__item-text-container">
                <div class="schedule__item-label">Tama.rb</div>
                <h3 class="schedule__item-title">激つよエンジニアじゃない私なりのOSSへの取り組み方</h3>
                <div class="schedule__item-speaker">fuqda</div><!-- .schedule__item-speaker -->
              </div>
              <!--.schedule__item-text-container  -->
            </div><!-- .schedule__item-body-inner -->
          </div><!-- .schedule__item-body -->
        </div><!-- .schedule__item -->

        <div class="schedule__item is-cfp">
          <div class="schedule__item-time">
            14:20
          </div>
          <div class="schedule__item-body">
            <div class="schedule__item-body-inner">
              <div class="schedule__item-image-container">
                <img class="schedule__item-image" alt="speaker name" src="{{ deploypath }}/assets/images/expajp.png">
              </div><!-- .schedule__item-image-container -->
              <div class="schedule__item-text-container">
                <h3 class="schedule__item-title">brainf*ck処理系で理解するパターンマッチングをつかった疎結合な実装</h3>
                <div class="schedule__item-speaker">Shu OGAWARA</div><!-- .schedule__item-speaker -->
              </div>
              <!--.schedule__item-text-container  -->
            </div><!-- .schedule__item-body-inner -->
          </div><!-- .schedule__item-body -->
        </div><!-- .schedule__item -->

        <div class="schedule__item is-break">
          <div class="schedule__item-time">
            14:30
          </div>
          <div class="schedule__item-body">
            休憩
          </div><!-- .schedule__item-body -->
        </div><!-- .schedule__item -->

        <div class="schedule__item is-member">
          <div class="schedule__item-time">
            14:40
          </div>
          <div class="schedule__item-body">
            <div class="schedule__item-body-inner">
              <div class="schedule__item-image-container">
                <img class="schedule__item-image" alt="speaker name"
                  src="{{ deploypath }}/assets/images/ken.png">
              </div><!-- .schedule__item-image-container -->
              <div class="schedule__item-text-container">
                <div class="schedule__item-label">Tama.rb</div>
                <h3 class="schedule__item-title">こわくないDSL</h3>
              <div class="schedule__item-speaker">ken3ypa</div>
<!-- .schedule__item-speaker -->

              </div>
              <!--.schedule__item-text-container  -->
            </div><!-- .schedule__item-body-inner -->
          </div><!-- .schedule__item-body -->
        </div><!-- .schedule__item -->

        <div class="schedule__item is-cfp">
          <div class="schedule__item-time">
            14:50
          </div>
          <div class="schedule__item-body">
            <div class="schedule__item-body-inner">
              <div class="schedule__item-image-container">
                <img class="schedule__item-image" alt="speaker name" src="{{ deploypath }}/assets/images/hotatekaoru.jpeg">
              </div><!-- .schedule__item-image-container -->
              <div class="schedule__item-text-container">
                <h3 class="schedule__item-title">ぼくらのリファクタリングは裏切らない💪</h3>
                <div class="schedule__item-speaker">ほたて</div><!-- .schedule__item-speaker -->
              </div>
              <!--.schedule__item-text-container  -->
            </div><!-- .schedule__item-body-inner -->
          </div><!-- .schedule__item-body -->
        </div><!-- .schedule__item -->

        <div class="schedule__item is-member">
          <div class="schedule__item-time">
            15:00
          </div>
          <div class="schedule__item-body">
            <div class="schedule__item-body-inner">
              <div class="schedule__item-image-container">
                <img class="schedule__item-image" alt="speaker name"
                  src="{{ deploypath }}/assets/images/coe.png">
              </div><!-- .schedule__item-image-container -->
              <div class="schedule__item-text-container">
                <div class="schedule__item-label">Tama.rb</div>
                <h3 class="schedule__item-title">たのしいOSSコードリーディング: Let's read "cookies"🍪</h3>
                <div class="schedule__item-speaker">しおい</div><!-- .schedule__item-speaker -->
              </div>
              <!--.schedule__item-text-container  -->
            </div><!-- .schedule__item-body-inner -->
          </div><!-- .schedule__item-body -->
        </div><!-- .schedule__item -->

        <div class="schedule__item is-break">
          <div class="schedule__item-time">
            15:10
          </div>
          <div class="schedule__item-body">
            休憩
          </div><!-- .schedule__item-body -->
        </div><!-- .schedule__item -->

        <div class="schedule__item is-cfp">
          <div class="schedule__item-time">
            15:20
          </div>
          <div class="schedule__item-body">
            <div class="schedule__item-body-inner">
              <div class="schedule__item-image-container">
                <img class="schedule__item-image" alt="speaker name" src="{{ deploypath }}/assets/images/nagata03.jpeg">
              </div>
              <!-- .schedule__item-image-container -->
              <div class="schedule__item-text-container">
                <h3 class="schedule__item-title">コードを「見る！書く！見てもらう！」で爆速ステップアップ！(仮)</h3>
                <div class="schedule__item-speaker">s_naga03</div>
                <!-- .schedule__item-speaker -->
              </div>
              <!--.schedule__item-text-container  -->
            </div><!-- .schedule__item-body-inner -->
          </div><!-- .schedule__item-body -->
        </div><!-- .schedule__item -->

        <div class="schedule__item is-member">
          <div class="schedule__item-time">
            15:30
          </div>
          <div class="schedule__item-body">
            <div class="schedule__item-body-inner">
              <div class="schedule__item-image-container">
                <img class="schedule__item-image" alt="speaker name"
                  src="{{ deploypath }}/assets/images/makicamel.png">
              </div><!-- .schedule__item-image-container -->
              <div class="schedule__item-text-container">
                <div class="schedule__item-label">Tama.rb</div>
                <h3 class="schedule__item-title">Dartに浮気したらRubyは最高だと再認識した話</h3>
                <div class="schedule__item-speaker">makicamel</div><!-- .schedule__item-speaker -->
              </div>
              <!--.schedule__item-text-container  -->
            </div><!-- .schedule__item-body-inner -->
          </div><!-- .schedule__item-body -->
        </div><!-- .schedule__item -->

        <div class="schedule__item is-cfp">
          <div class="schedule__item-time">
            15:40
          </div>
          <div class="schedule__item-body">
            <div class="schedule__item-body-inner">
              <div class="schedule__item-image-container">
                <img class="schedule__item-image" alt="speaker name" src="{{ deploypath }}/assets/images/alitaso345.png">
              </div><!-- .schedule__item-image-container -->
              <div class="schedule__item-text-container">
                <h3 class="schedule__item-title">WebAssemblyをRubyにコンパイルする黒魔術コード完全解説</h3>
                <div class="schedule__item-speaker">alitaso345</div><!-- .schedule__item-speaker -->
              </div>
              <!--.schedule__item-text-container  -->
            </div><!-- .schedule__item-body-inner -->
          </div><!-- .schedule__item-body -->
        </div><!-- .schedule__item -->

        <div class="schedule__item is-break">
          <div class="schedule__item-time">
            15:50
          </div>
          <div class="schedule__item-body">
            休憩
          </div><!-- .schedule__item-body -->
        </div><!-- .schedule__item -->

        <div class="schedule__item is-sponsor">
          <div class="schedule__item-time">
            16:00
          </div>
          <div class="schedule__item-body">
            <div class="schedule__item-body-inner">
              <div class="schedule__item-image-container">
                <img class="schedule__item-image" alt="sponsor compamy name"
                  src="{{ deploypath }}/assets/images/gmo-pepabp.png">
              </div><!-- .schedule__item-image-container -->
              <div class="schedule__item-text-container">
                <div class="schedule__item-label">Sponsor</div>
                <h3 class="schedule__item-title">GMOペパボ株式会社</h3>
              </div>
              <!--.schedule__item-text-container  -->
            </div><!-- .schedule__item-body-inner -->
          </div><!-- .schedule__item-body -->
        </div><!-- .schedule__item -->

        <div class="schedule__item is-sponsor">
          <div class="schedule__item-time">
            16:05
          </div>
          <div class="schedule__item-body">
            <div class="schedule__item-body-inner">
              <div class="schedule__item-image-container">
                <img class="schedule__item-image" alt="sponsor compamy name"
                  src="{{ deploypath }}/assets/images/sansan.png">
              </div><!-- .schedule__item-image-container -->
              <div class="schedule__item-text-container">
                <div class="schedule__item-label">Sponsor</div>
                <h3 class="schedule__item-title">Sansan株式会社</h3>
              </div>
              <!--.schedule__item-text-container  -->
            </div><!-- .schedule__item-body-inner -->
          </div><!-- .schedule__item-body -->
        </div><!-- .schedule__item -->

        <div class="schedule__item is-sponsor">
          <div class="schedule__item-time">
            16:10
          </div>
          <div class="schedule__item-body">
            <div class="schedule__item-body-inner">
              <div class="schedule__item-image-container">
                <img class="schedule__item-image" alt="sponsor compamy name"
                  src="{{ deploypath }}/assets/images/medpeer.png">
              </div><!-- .schedule__item-image-container -->
              <div class="schedule__item-text-container">
                <div class="schedule__item-label">Sponsor</div>
                <h3 class="schedule__item-title">メドピア株式会社</h3>
              </div>
              <!--.schedule__item-text-container  -->
            </div><!-- .schedule__item-body-inner -->
          </div><!-- .schedule__item-body -->
        </div><!-- .schedule__item -->

        <div class="schedule__item is-break">
          <div class="schedule__item-time">
            16:15
          </div>
          <div class="schedule__item-body">
            休憩
          </div><!-- .schedule__item-body -->
        </div><!-- .schedule__item -->

        <div class="schedule__item is-member">
          <div class="schedule__item-time">
            16:20
          </div>
          <div class="schedule__item-body">
            <div class="schedule__item-body-inner">
              <div class="schedule__item-image-container">
                <img class="schedule__item-image" alt="speaker name" src="{{ deploypath }}/assets/images/tsuka.jpeg">
              </div><!-- .schedule__item-image-container -->
              <div class="schedule__item-text-container">
                <div class="schedule__item-label">Tama.rb</div>
                <h3 class="schedule__item-title">RubyistのためのElixir</h3>
                <div class="schedule__item-speaker">tsuka</div><!-- .schedule__item-speaker -->
              </div>
              <!--.schedule__item-text-container  -->
            </div><!-- .schedule__item-body-inner -->
          </div><!-- .schedule__item-body -->
        </div><!-- .schedule__item -->

        <div class="schedule__item is-cfp">
          <div class="schedule__item-time">
            16:30
          </div>
          <div class="schedule__item-body">
            <div class="schedule__item-body-inner">
              <div class="schedule__item-image-container">
                <img class="schedule__item-image" alt="speaker name" src="{{ deploypath }}/assets/images/katsumata-ryo.jpeg">
              </div><!-- .schedule__item-image-container -->
              <div class="schedule__item-text-container">
                <h3 class="schedule__item-title">成長を期待しない目的志向実践のススメ</h3>
                <div class="schedule__item-speaker">katsumata-ryo</div><!-- .schedule__item-speaker -->
              </div>
              <!--.schedule__item-text-container  -->
            </div><!-- .schedule__item-body-inner -->
          </div><!-- .schedule__item-body -->
        </div><!-- .schedule__item -->

        <div class="schedule__item is-member">
          <div class="schedule__item-time">
            16:40
          </div>
          <div class="schedule__item-body">
            <div class="schedule__item-body-inner">
              <div class="schedule__item-image-container">
                <img class="schedule__item-image" alt="speaker name"
                  src="{{ deploypath }}/assets/images/okuramasafumi.png">
              </div><!-- .schedule__item-image-container -->
              <div class="schedule__item-text-container">
                <div class="schedule__item-label">Tama.rb</div>
                <h3 class="schedule__item-title">車輪の再発明入門</h3>
              <div class="schedule__item-speaker">okuramasafumi</div>
<!-- .schedule__item-speaker -->

              </div>
              <!--.schedule__item-text-container  -->
            </div><!-- .schedule__item-body-inner -->
          </div><!-- .schedule__item-body -->
        </div><!-- .schedule__item -->

        <div class="schedule__item is-break">
          <div class="schedule__item-time">
            16:50
          </div>
          <div class="schedule__item-body">
            休憩
          </div><!-- .schedule__item-body -->
        </div><!-- .schedule__item -->

        <div class="schedule__item is-special">
          <div class="schedule__item-time">
            17:00
          </div>
          <div class="schedule__item-body">
            <div class="schedule__item-body-inner">
              <div class="schedule__item-image-container">
                <img class="schedule__item-image" alt="Tama.rb" src="{{ deploypath }}/assets/images/tamarb.png">
              </div><!-- .schedule__item-image-container -->
              <div class="schedule__item-text-container">
                <h3 class="schedule__item-title">特別企画</h3>
                <div class="schedule__item-speaker">Tama.rb</div><!-- .schedule__item-speaker -->
              </div>
              <!--.schedule__item-text-container  -->
            </div><!-- .schedule__item-body-inner -->
          </div><!-- .schedule__item-body -->
        </div><!-- .schedule__item -->

        <div class="schedule__item is-break">
          <div class="schedule__item-time">
            17:20
          </div>
          <div class="schedule__item-body">
            休憩
          </div><!-- .schedule__item-body -->
        </div><!-- .schedule__item -->

        <div class="schedule__item is-keynote">
          <div class="schedule__item-time">
            17:30
          </div>
          <div class="schedule__item-body">
            <div class="schedule__item-body-inner">
              <div class="schedule__item-image-container">
                <img class="schedule__item-image" alt="igaiga555" src="{{ deploypath }}/assets/images/igaiga555.png">
              </div><!-- .schedule__item-image-container -->
              <div class="schedule__item-text-container">
                <div class="schedule__item-label">Keynote</div>
                <h3 class="schedule__item-title">白魔術師への道</h3>
                <div class="schedule__item-speaker">Kuniaki Igarashi</div><!-- .schedule__item-speaker -->
              </div>
              <!--.schedule__item-text-container  -->
            </div><!-- .schedule__item-body-inner -->
          </div><!-- .schedule__item-body -->
        </div><!-- .schedule__item -->

        <div class="schedule__item">
          <div class="schedule__item-time">
            18:10
          </div>
          <div class="schedule__item-body">
            <div class="schedule__item-body-inner">
              <div class="schedule__item-image-container">
                <img class="schedule__item-image" alt="Tama.rb" src="{{ deploypath }}/assets/images/tamarb.png">
              </div><!-- .schedule__item-image-container -->
              <div class="schedule__item-text-container">
                <h3 class="schedule__item-title">閉会の挨拶・懇親会のご案内</h3>
                <div class="schedule__item-speaker">fuqda</div><!-- .schedule__item-speaker -->
              </div>
              <!--.schedule__item-text-container  -->
            </div><!-- .schedule__item-body-inner -->
          </div><!-- .schedule__item-body -->
        </div><!-- .schedule__item -->

        <div class="schedule__item is-break">
          <div class="schedule__item-time">
            18:20
          </div>
          <div class="schedule__item-body">
            懇親会準備
          </div><!-- .schedule__item-body -->
        </div><!-- .schedule__item -->

        <div class="schedule__item">
          <div class="schedule__item-time">
            18:30
          </div>
          <div class="schedule__item-body">
            懇親会
          </div><!-- .schedule__item-body -->
        </div><!-- .schedule__item -->

        <div class="schedule__item">
          <div class="schedule__item-time">
            20:30
          </div>
          <div class="schedule__item-body">
            完全撤収予定
          </div><!-- .schedule__item-body -->
        </div><!-- .schedule__item -->

      </div><!-- .-schedule__items -->

    </div><!-- .schedule -->
  </div><!-- .container -->
</div><!-- .home-contents__item -->
