<div class="home-contents__item is-schedule">
  <div class="container is-md">
    <div class="schedule">
      <h2 class="home-contents__item-title">Schedule</h2>

      <table class="a-table">
        <tbody>
          <tr>
            <td>
              <p>12:30</p>
            </td>
            <td>
              <p>開場</p>
            </td>
            <td>
              <p></p>
            </td>
          </tr>
          <tr>
            <td>
              <p>13:00</p>
            </td>
            <td>
              <p>開会・協賛紹介・注意事項の案内</p>
            </td>
            <td>
              <p>福田 / 志村</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>13:10</p>
            </td>
            <td>
              <p>基調講演①伊藤淳一さん</p>
            </td>
            <td>
              <p></p>
            </td>
          </tr>
          <tr>
            <td>
              <p>13:50</p>
            </td>
            <td>
              <p>休憩</p>
            </td>
            <td>
              <p></p>
            </td>
          </tr>
          <tr>
            <td>
              <p>14:00</p>
            </td>
            <td>
              <p>CFPトーク①</p>
            </td>
            <td>
              <p></p>
            </td>
          </tr>
          <tr>
            <td>
              <p>14:10</p>
            </td>
            <td>
              <p>Tamarb メンバートーク①</p>
            </td>
            <td>
              <p></p>
            </td>
          </tr>
          <tr>
            <td>
              <p>14:20</p>
            </td>
            <td>
              <p>CFPトーク②</p>
            </td>
            <td>
              <p></p>
            </td>
          </tr>
          <tr>
            <td>
              <p>14:30</p>
            </td>
            <td>
              <p>休憩</p>
            </td>
            <td>
              <p></p>
            </td>
          </tr>
          <tr>
            <td>
              <p>14:40</p>
            </td>
            <td>
              <p>Tamarb メンバートーク②</p>
            </td>
            <td>
              <p></p>
            </td>
          </tr>
          <tr>
            <td>
              <p>14:50</p>
            </td>
            <td>
              <p>CFPトーク③</p>
            </td>
            <td>
              <p></p>
            </td>
          </tr>
          <tr>
            <td>
              <p>15:00</p>
            </td>
            <td>
              <p>Tamarb メンバートーク③</p>
            </td>
            <td>
              <p></p>
            </td>
          </tr>
          <tr>
            <td>
              <p>15:10</p>
            </td>
            <td>
              <p>休憩</p>
            </td>
            <td>
              <p></p>
            </td>
          </tr>
          <tr>
            <td>
              <p>15:20</p>
            </td>
            <td>
              <p>CFPトーク④</p>
            </td>
            <td>
              <p></p>
            </td>
          </tr>
          <tr>
            <td>
              <p>15:30</p>
            </td>
            <td>
              <p>Tamarb メンバートーク④</p>
            </td>
            <td>
              <p></p>
            </td>
          </tr>
          <tr>
            <td>
              <p>15:40</p>
            </td>
            <td>
              <p>CFPトーク⑤</p>
            </td>
            <td>
              <p></p>
            </td>
          </tr>
          <tr>
            <td>
              <p>15:50</p>
            </td>
            <td>
              <p>休憩</p>
            </td>
            <td>
              <p></p>
            </td>
          </tr>
          <tr>
            <td>
              <p>16:00</p>
            </td>
            <td>
              <p>スポンサーLT①</p>
            </td>
            <td>
              <p></p>
            </td>
          </tr>
          <tr>
            <td>
              <p>16:00</p>
            </td>
            <td>
              <p>スポンサーLT②</p>
            </td>
            <td>
              <p></p>
            </td>
          </tr>
          <tr>
            <td>
              <p>16:10</p>
            </td>
            <td>
              <p>スポンサーLT③</p>
            </td>
            <td>
              <p></p>
            </td>
          </tr>
          <tr>
            <td>
              <p>16:10</p>
            </td>
            <td>
              <p>休憩</p>
            </td>
            <td>
              <p></p>
            </td>
          </tr>
          <tr>
            <td>
              <p>16:20</p>
            </td>
            <td>
              <p>Tamarb メンバートーク⑤</p>
            </td>
            <td>
              <p></p>
            </td>
          </tr>
          <tr>
            <td>
              <p>16:30</p>
            </td>
            <td>
              <p>CFPトーク⑥</p>
            </td>
            <td>
              <p></p>
            </td>
          </tr>
          <tr>
            <td>
              <p>16:40</p>
            </td>
            <td>
              <p>Tamarb メンバートーク⑥</p>
            </td>
            <td>
              <p></p>
            </td>
          </tr>
          <tr>
            <td>
              <p>16:50</p>
            </td>
            <td>
              <p>休憩</p>
            </td>
            <td>
              <p></p>
            </td>
          </tr>
          <tr>
            <td>
              <p>17:00</p>
            </td>
            <td>
              <p>特別企画</p>
            </td>
            <td>
              <p></p>
            </td>
          </tr>
          <tr>
            <td>
              <p>17:20</p>
            </td>
            <td>
              <p>休憩</p>
            </td>
            <td>
              <p></p>
            </td>
          </tr>
          <tr>
            <td>
              <p>17:30</p>
            </td>
            <td>
              <p>基調講演②五十嵐さん</p>
            </td>
            <td>
              <p></p>
            </td>
          </tr>
          <tr>
            <td>
              <p>18:10</p>
            </td>
            <td>
              <p>閉会の挨拶・懇親会のご案内</p>
            </td>
            <td>
              <p>福田 / 志村</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>18:20</p>
            </td>
            <td>
              <p>懇親会準備</p>
            </td>
            <td>
              <p></p>
            </td>
          </tr>
          <tr>
            <td>
              <p>18:30</p>
            </td>
            <td>
              <p>懇親会</p>
            </td>
            <td>
              <p></p>
            </td>
          </tr>
          <tr>
            <td>
              <p>21:00</p>
            </td>
            <td>
              <p>撤収予定</p>
            </td>
            <td>
              <p></p>
            </td>
          </tr>
        </tbody>
      </table>

    </div><!-- .schedule -->
  </div><!-- .container -->
</div><!-- .home-contents__item -->
