<div class="home-contents__item is-special-thanks">
  <div class="container">
    <div class="special-thanks">
      <h2 class="home-contents__item-title">Special Thanks</h2>
      <div class="special-thanks__items">

        <!-- スタッフここから -->
        <div class="special-thanks__item">
          <div class="special-thanks__item-inner">
            <img class="special-thanks__item-image" alt="fuqda90" src="{{ deploypath }}/assets/images/fuqda90.png">
            <h3 class="special-thanks__item-name">カルパスさんゾーン</h3>
            <div class="special-thanks__item-links">
              <ul class="special-thanks__item-links-items">
                <li class="special-thanks__item-links-item is-github">
                  <a href="https://github.com/Shigeyuki-fukuda" target="_blank"><i class="fab fa-github"></i></a>
                </li>
                <li class="special-thanks__item-links-item is-twitter">
                  <a href="https://twitter.com/fuqda90" target="_blank"><i class="fab fa-twitter"></i></a>
                </li>
              </ul>
            </div>
          </div><!-- .special-thanks__item-inner -->
        </div><!-- .special-thanks__item -->
        <!-- スタッフここまで -->

        <!-- スタッフここから -->
        <div class="special-thanks__item">
          <div class="special-thanks__item-inner">
            <img class="special-thanks__item-image" alt="coe401" src="{{ deploypath }}/assets/images/coe.png">
            <h3 class="special-thanks__item-name">町田さんゾーン</h3>
            <div class="special-thanks__item-links">
              <ul class="special-thanks__item-links-items">
                <li class="special-thanks__item-links-item is-github">
                  <a href="https://github.com/shioimm" target="_blank"><i class="fab fa-github"></i></a>
                </li>
                <li class="special-thanks__item-links-item is-twitter">
                  <a href="https://twitter.com/coe401_" target="_blank"><i class="fab fa-twitter"></i></a>
                </li>
              </ul>
            </div>
          </div><!-- .special-thanks__item-inner -->
        </div><!-- .special-thanks__item -->
        <!-- スタッフここまで -->

        <!-- スタッフここから -->
        <div class="special-thanks__item">
          <div class="special-thanks__item-inner">
            <img class="special-thanks__item-image" alt="esumura86" src="{{ deploypath }}/assets/images/esumura.png">
            <h3 class="special-thanks__item-name">やまもとさんゾーン</h3>
            <div class="special-thanks__item-links">
              <ul class="special-thanks__item-links-items">
                <li class="special-thanks__item-links-item is-github">
                  <a href="https://github.com/hoqqun" target="_blank"><i class="fab fa-github"></i></a>
                </li>
                <li class="special-thanks__item-links-item is-twitter">
                  <a href="https://twitter.com/esumura86" target="_blank"><i class="fab fa-twitter"></i></a>
                </li>
              </ul>
            </div>
          </div><!-- .special-thanks__item-inner -->
        </div><!-- .special-thanks__item -->
        <!-- スタッフここまで -->

      </div><!-- .special-thanks__items -->
    </div><!-- .special-thanks -->
  </div><!-- .container -->
</div><!-- .home-contents__item -->