<div class="main-visual">
  <div class="container">
    <div class="main-visual__inner">
      <div class="main-visual__image-container">
        <img class="main-visual__logo" alt="Tama Ruby Kaigi 2019" src="{{ deploypath }}/assets/images/logo.svg">
      </div><!-- .main-visual__image-container -->
      <div class="main-visual__text-container">
        <h1 class="main-visual__title">Tama RubyKaigi 2019</h1>
        <div class="main-visual__time">2019/07/06 (Sat) 13:00 - 18:20 </div>
        <div class="main-visual__place">@Shibuya, Tokyo</div>
      </div><!-- .main-visual__text-container -->
      <div class="main-visual__actions">
        <ul class="main-visual__actions-items">
          <li class="main-visual__actions-item">
            <a href="" target="_blank" class="main-visual__action a-button is-xl is-danger is-block">Become A Speaker</a>
          </li>
          <li class="main-visual__actions-item">
            <a href="" target="_blank" class="main-visual__action a-button is-xl is-warning is-block">Register Now</a>
          </li>
        </ul><!-- .main-visual__actions-items -->
      </div><!-- .main-visual__actions -->
    </div><!-- .main-visual__inner -->
  </div><!-- .container -->
</div><!-- .main-visual -->
