<div class="home-contents__item is-team">
  <div class="container">
    <div class="team">
      <h2 class="home-contents__item-title">Team</h2>
      <div class="team__items">

        <!-- スタッフここから -->
        <div class="team__item">
          <div class="team__item-inner">
            <img class="team__item-image" alt="fuqda90" src="{{ deploypath }}/assets/images/fuqda90.png">
            <h3 class="team__item-name">@Shigeyuki-fukuda</h3>
            <div class="team__item-links">
              <ul class="team__item-links-items">
                <li class="team__item-links-item is-github">
                  <a href="https://github.com/Shigeyuki-fukuda" target="_blank"><i class="fab fa-github"></i></a>
                </li>
                <li class="team__item-links-item is-twitter">
                  <a href="https://twitter.com/fuqda90" target="_blank"><i class="fab fa-twitter"></i></a>
                </li>
              </ul>
            </div>
          </div><!-- .team__item-inner -->
        </div><!-- .team__item -->
        <!-- スタッフここまで -->

        <!-- スタッフここから -->
        <div class="team__item">
          <div class="team__item-inner">
            <img class="team__item-image" alt="coe401" src="{{ deploypath }}/assets/images/coe.png">
            <h3 class="team__item-name">@shioimm</h3>
            <div class="team__item-links">
              <ul class="team__item-links-items">
                <li class="team__item-links-item is-github">
                  <a href="https://github.com/shioimm" target="_blank"><i class="fab fa-github"></i></a>
                </li>
                <li class="team__item-links-item is-twitter">
                  <a href="https://twitter.com/coe401_" target="_blank"><i class="fab fa-twitter"></i></a>
                </li>
              </ul>
            </div>
          </div><!-- .team__item-inner -->
        </div><!-- .team__item -->
        <!-- スタッフここまで -->

        <!-- スタッフここから -->
        <div class="team__item">
          <div class="team__item-inner">
            <img class="team__item-image" alt="esumura86" src="{{ deploypath }}/assets/images/esumura.png">
            <h3 class="team__item-name">@hoqqun</h3>
            <div class="team__item-links">
              <ul class="team__item-links-items">
                <li class="team__item-links-item is-github">
                  <a href="https://github.com/hoqqun" target="_blank"><i class="fab fa-github"></i></a>
                </li>
                <li class="team__item-links-item is-twitter">
                  <a href="https://twitter.com/esumura86" target="_blank"><i class="fab fa-twitter"></i></a>
                </li>
              </ul>
            </div>
          </div><!-- .team__item-inner -->
        </div><!-- .team__item -->
        <!-- スタッフここまで -->

        <!-- スタッフここから -->
        <div class="team__item">
          <div class="team__item-inner">
            <img class="team__item-image" alt="ken3ypa" src="{{ deploypath }}/assets/images/ken.png">
            <h3 class="team__item-name">@ken3ypa</h3>
            <div class="team__item-links">
              <ul class="team__item-links-items">
                <li class="team__item-links-item is-github">
                  <a href="https://github.com/ken3ypa" target="_blank"><i class="fab fa-github"></i></a>
                </li>
                <li class="team__item-links-item is-twitter">
                  <a href="https://twitter.com/ken3ypa" target="_blank"><i class="fab fa-twitter"></i></a>
                </li>
              </ul>
            </div>
          </div><!-- .team__item-inner -->
        </div><!-- .team__item -->
        <!-- スタッフここまで -->

        <!-- スタッフここから -->
        <div class="team__item">
          <div class="team__item-inner">
            <img class="team__item-image" alt="okuramasafumi" src="{{ deploypath }}/assets/images/okuramasafumi.png">
            <h3 class="team__item-name">@okuramasafumi</h3>
            <div class="team__item-links">
              <ul class="team__item-links-items">
                <li class="team__item-links-item is-github">
                  <a href="https://github.com/okuramasafumi" target="_blank"><i class="fab fa-github"></i></a>
                </li>
                <li class="team__item-links-item is-twitter">
                  <a href="https://twitter.com/okuramasafumi" target="_blank"><i class="fab fa-twitter"></i></a>
                </li>
              </ul>
            </div>
          </div><!-- .team__item-inner -->
        </div><!-- .team__item -->
        <!-- スタッフここまで -->

        <!-- スタッフここから -->
        <div class="team__item">
          <div class="team__item-inner">
            <img class="team__item-image" alt="yrinda_" src="{{ deploypath }}/assets/images/yrinda.png">
            <h3 class="team__item-name">@yrinda</h3>
            <div class="team__item-links">
              <ul class="team__item-links-items">
                <li class="team__item-links-item is-github">
                  <a href="https://github.com/yrinda" target="_blank"><i class="fab fa-github"></i></a>
                </li>
                <li class="team__item-links-item is-twitter">
                  <a href="https://twitter.com/yrinda_" target="_blank"><i class="fab fa-twitter"></i></a>
                </li>
              </ul>
            </div>
          </div><!-- .team__item-inner -->
        </div><!-- .team__item -->
        <!-- スタッフここまで -->

        <!-- スタッフここから -->
        <div class="team__item">
          <div class="team__item-inner">
            <img class="team__item-image" alt="fuqda90" src="{{ deploypath }}/assets/images/hayashiyoshino.png">
            <h3 class="team__item-name">@hayashiyoshino</h3>
            <div class="team__item-links">
              <ul class="team__item-links-items">
                <li class="team__item-links-item is-github">
                  <a href="https://github.com/hayashiyoshino" target="_blank"><i class="fab fa-github"></i></a>
                </li>
                <li class="team__item-links-item is-twitter">
                  <a href="https://twitter.com/hayashiyoshino" target="_blank"><i class="fab fa-twitter"></i></a>
                </li>
              </ul>
            </div>
          </div><!-- .team__item-inner -->
        </div><!-- .team__item -->
        <!-- スタッフここまで -->

        <!-- スタッフここから -->
        <div class="team__item">
          <div class="team__item-inner">
            <img class="team__item-image" alt="kurihara" src="{{ deploypath }}/assets/images/kurihara.png">
            <h3 class="team__item-name">@Y-KURI</h3>
            <div class="team__item-links">
              <ul class="team__item-links-items">
                <li class="team__item-links-item is-github">
                  <a href="https://github.com/Y-KURI" target="_blank"><i class="fab fa-github"></i></a>
                </li>
                <li class="team__item-links-item is-twitter">
                  <a href="https://twitter.com/__castagna" target="_blank"><i class="fab fa-twitter"></i></a>
                </li>
              </ul>
            </div>
          </div><!-- .team__item-inner -->
        </div><!-- .team__item -->
        <!-- スタッフここまで -->

      </div><!-- .team__items -->
    </div><!-- .team -->
  </div><!-- .container -->
</div><!-- .home-contents__item -->
