<div class="become-a-speacker">
  <div class="become-a-speaker__body a-short-text-style">
    <label class="main-visual__action become-a-speaker__body-show-modal a-button is-xl is-danger is-block" for="become-a-speacker-modal">Become A Speaker</label>
    <input type="checkbox" class="a-show-modal" id="become-a-speacker-modal" />
    <div class="a-modal">
      <div class="modal__dialog">
        <label class="modal__close" for="become-a-speacker-modal"></label>
        <div class="modal__content">
          <img class="modal__logo" alt="Tama Ruby会議01" src="{{ deploypath }}/assets/images/logo.svg" />
          <div class="modal__content-body a-short-text-style">
            <h2>スピーカー募集は終了しました。</h2>
            <p>
              5月31日を持ちましてスピーカー募集を終了させていただきました。
            </p>
            <p>
              応募していただいたみなさまには、6月2日を目処に結果をご連絡させていただきます。
            </p>
            <p>
              今回応募できなかったみなさまには、次回ご応募して頂ければ幸いです。
            </p>
            <p>
              みなさまのご参加、心よりお待ちしております。
            </p>
            <p>
              Tama Ruby会議01 運営一同
            </p>
          </div>
        </div>
      </div>
      <label class="modal__overlay" for="become-a-speacker-modal"></label>
    </div>
  </div>
</div>
