<div class="home-contents__item is-keynotes">
  <div class="container is-md">
    <div class="about">
      <!--
        <h2 class="home-contents__item-title">About</h2>
       -->
      <div class="about__body a-short-text-style">
        <p>
          説明文ああああああああああああああああああああああああああああああああああああああああああああ<br>
          説明文ああああああああああああああああああああああああああああああああああああああああああああ<br>
          説明文ああああああああああああああああああああああああああああああああああああああああああああ<br>
          説明文ああああああああああああああああああああああああああああああああああああああああああああ<br>
          説明文ああああああああああああああああああああああああああああああああああああああああああああ<br>
          説明文ああああああああああああああああああああああああああああああああああああああああああああ
        </p>
        <label class="bout__body-show-modal" for="about-modal">詳しく</label>
        <input type="checkbox" class="a-show-modal" id="about-modal">
        <div class="a-modal">
          <div class="modal__dialog">
            <div class="modal__content">
              どんな小さな羽さえもそよがぬ 弱い息のお話をせがむとは！でもこの哀れな声一つ三つあわせた舌に逆らえましょうか？居丈だかなプリマがまずは唱えるその宣告は「おはじめなさい」すこし優しげに二番手の希望
            </div><!-- .modal__content -->
          </div><!-- .modal__dialog -->
          <label class="modal__overlay" for="about-modal"></label>
        </div><!-- .modal  -->
      </div><!-- .about__body -->
    </div><!-- .about -->
  </div><!-- .container -->
</div><!-- .home-contents__item -->
