<div class="home-contents__item is-keynotes">
  <div class="container is-md">
    <div class="about">
      <!--
        <h2 class="home-contents__item-title">About</h2>
       -->
      <div class="about__body a-short-text-style">
        <label class="about__body-show-modal a-button is-sm is-primary is-block" for="about-modal">開催にあたって<i class="fas fa-angle-double-right"></i></label>
        <input type="checkbox" class="a-show-modal" id="about-modal" />
        <div class="a-modal">
          <div class="modal__dialog">
            <label class="modal__close" for="about-modal"></label>
            <div class="modal__content">
              <img class="modal__logo" alt="Tama Ruby会議01" src="{{ deploypath }}/assets/images/logo.svg" />
              <div class="modal__content-body a-short-text-style">
                <h2>テーマは「Rubyistとしての成長」</h2>
                <p>
                  Tama.rb は2018年2月、開発歴の浅いRubyist たちが互いに切磋琢磨し力を付けていくことを目的に発足したコミュニティです。 発足以来、技術書の輪読会や課題のディスカッションを重ね、先輩
                  Rubyist からアドバイスをいただきながら日々の成長を目指してきました。
                </p>
                <p>
                  このたび、コミュニティから生まれた知見を元に、参加者のみなさまと技術的交流を図りたいとの思いから、地域 Ruby 会議の開催に至りました。
                </p>
                <p>
                  Tama Ruby会議01 は参加者の方がもう一段ステップアップするための場となることを目指しています。 今回は登壇者の半分を占めるTama.rb メンバーと、精選されたRubyist
                  たちで、自身とみなさまの成長のきっかけを作りたいと思います。
                </p>
                <p>
                  みなさまのご参加、心よりお待ちしております。
                </p>
                <p>
                  Tama Ruby会議01 運営一同
                </p>
              </div>
            </div><!-- .modal__content -->
          </div><!-- .modal__dialog -->
          <label class="modal__overlay" for="about-modal"></label>
        </div><!-- .modal  -->
      </div><!-- .about__body -->
    </div><!-- .about -->
  </div><!-- .container -->
</div><!-- .home-contents__item -->
