<div class="home-contents__item is-keynotes">
  <div class="container is-md">
    <div class="about">
      <!--
        <h2 class="home-contents__item-title">About</h2>
       -->
      <div class="about__body a-short-text-style">
        <label class="about__body-show-modal a-button is-sm is-primary is-block" for="about-modal">開催にあたって<i
            class="fas fa-angle-double-right"></i></label>
        <input type="checkbox" class="a-show-modal" id="about-modal">
        <div class="a-modal">
          <div class="modal__dialog">
            <label class="modal__close" for="about-modal"></label>
            <div class="modal__content">
              <img class="modal__logo" alt="Tama Ruby Kaigi 2019" src="{{ deploypath }}/assets/images/logo.svg">
              <div class="modal__content-body a-short-text-style">
                <h2>テーマは「Rubyistとしての成長」</h2>
                <p>
                  Tama RubyKaigi 2019はまだ開発歴の浅いRubyistたちがもう一段ステップアップをして、中級・上級Rubyistへ成長するためのきっかけとなることを目指す地域Ruby会議です。
                </p>
                <p>
                  Tama.rbは2018年2月、駆け出しRubyistたちが互いに切磋琢磨する中で力を付けていくために発足しました。
                </p>
                <p>
                  そこから徐々にメンバーも増えていき、発足以来技術書の輪読や、先輩Rubyistの皆様から頂いたアドバイスや、 メンバー間での課題の共有・ディスカッションを通じて、 日々の成長を目指してきました。
                </p>
                <p>
                  そしてこの度、コミュニティから生まれた知見と参加者の皆様の知見を お互いに共有し、考え、お話しすることで技術的交流を図りたいとの思いから、地域Ruby会議の開催に至りました。
                </p>
                <p>
                  登壇者のうち半分はTama.rbメンバー、そしてもう半分はCFPをくぐり抜けた若手・中堅・ベテランRubystたちです。 参加者の皆様の成長のきっかけとなるような場を作っていくつもりです。
                </p>
                <p>
                  皆様のご参加、心よりお待ちしております。
                </p>
                <p>
                  Tama Ruby Kaigi 2019 運営一同
                </p>
              </div>

            </div><!-- .modal__content -->
          </div><!-- .modal__dialog -->
          <label class="modal__overlay" for="about-modal"></label>
        </div><!-- .modal  -->
      </div><!-- .about__body -->
    </div><!-- .about -->
  </div><!-- .container -->
</div><!-- .home-contents__item -->
