<div class="home-contents__item is-keynotes">
  <div class="container is-md">
    <div class="keynotes">
      <h2 class="home-contents__item-title">Keynote Speakers</h2>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <!-- 伊藤さん -->
          <div class="keynotes__item">
            <img class="keynotes__item-image" alt="jnchito" src="{{ deploypath }}/assets/images/jnchito.jpg">
            <h2 class="keynotes__item-name">Junichi Ito</h2>
            <div class="keynotes__item-links">
              <ul class="keynotes__item-links-items">
                <li class="keynotes__item-links-item is-github">
                  <a href="" target="_blank"><i class="fab fa-github"></i></a>
                </li>
                <li class="keynotes__item-links-item is-twitter">
                  <a href="" target="_blank"><i class="fab fa-twitter"></i></a>
                </li>
              </ul>
            </div><!-- .keynotes__item-links -->
          </div><!-- .keynotes__item -->

        </div><!-- .col -->
        <div class="col-xs-12 col-md-6">
          <!-- 五十嵐さん -->
          <div class="keynotes__item">
            <img class="keynotes__item-image" alt="igaiga555" src="{{ deploypath }}/assets/images/igaiga555.png">
            <h2 class="keynotes__item-name">Kuniaki Igarashi</h2>
            <div class="keynotes__item-links">
              <ul class="keynotes__item-links-items">
                <li class="keynotes__item-links-item is-github">
                  <a href="" target="_blank"><i class="fab fa-github"></i></a>
                </li>
                <li class="keynotes__item-links-item is-twitter">
                  <a href="" target="_blank"><i class="fab fa-twitter"></i></a>
                </li>
              </ul>
            </div><!-- .keynotes__item-links -->
          </div><!-- .keynotes__item -->

        </div><!-- .col -->
      </div><!-- .row -->
    </div><!-- .keynotes -->
  </div><!-- .container -->
</div><!-- .home-contents__item -->
