<div class="container h-100">
  <div class="row align-items-center h-100">
    <div class="col mx-auto">
      <div class="col text-center mb-md-8">
        <p class="display-comming">COMMING SOON</p>
      </div>
      <div class="row align-items-center">
        <div class="col-md-7 text-center text-md-right">
          <h1 class="title">Tama Ruby Kaigi 2019</h1>
          <p class="description mb-0">
            <span>2019/07/06 (Sat) 13:00 - 18:20 </span>
          </p>
          <p class="description mb-0">
            <span class="text-nowrap">@Shibuya, Tokyo</span>
          </p>
        </div>
        <div class="col-md-5 text-center text-md-left">
          <img class="logo" src="{{ deploypath }}/assets/images/logo_512x423.png" />
        </div>
      </div>
    </div>
  </div>
</div>
<div id="purpose" class="container h-100">
  <h1 class="title text-center under-line">開催の趣旨</h1>
  <h2 class="title text-center">テーマは、Rubyistとしての成長</h2>
  <br/>
  <p class="text-center text-md-left description">
    はじめまして、ご覧くださりありがとうございます。
  </p>
  <p class="text-center text-md-left description">
    Ruby初心者から中級者を対象に「すごい人のすごいことをした話」ではなく、<br/>
    すごい人が初心者に知っておいて欲しいことの話」や「駆け出しエンジニアでも、初心者目線で初心者の成長にコミットできるお話」<br/>
    をお話・共有することで、参加してくださった方々のRubyistとしてさらなる成長が目的です。
  </p>
  <p class="text-center text-md-left description">
    Tama.rbは2018年2月に駆け出しエンジニアがお互いに力をつけていこうという趣旨で発足しました。<br/>
    徐々に参加してくださる方も増え、諸先輩のみなさまからアドバイスをもらったり、いろいろな悩みや課題を話あってきました。<br/>
    世の中には一年前の私たちのような方がまだまだいます。しかし狭いコミュニティでは人数など限界があります。<br/>
    すばらしいお話や体験を広め、まさに一年前の駆け出しだった私たちのような方の力になりたい。<br/>
    こういった、思いより開催に至りました。
  </p>
  <p class="text-center text-md-left description">
    登壇者は、ベテランの方に比べたら知識・技術ともに浅いかもしれません。<br/>
    しかし情熱とモチベーションを高く、みなさんに思いを伝えます。<br/>
    ぜひご参加いただけたらと嬉しいです。
  </p>
</div>
<div id="join-link" class="container h-100">
  <h1 class="title text-center under-line">ご参加方法・場所・日時</h1>
  <p class="text-center description">COMMING SOON</p>
</div>
<div id="timetable" class="container">
  <h1 class="title text-center under-line">タイムテーブル</h1>
  <br />
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">時間</th>
        <th scope="col">登壇者</th>
        <th scope="col">発表内容</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="col">12:00</td>
        <td scope="col">ALL MEMBER</td>
        <td scope="col">設営開始</td>
      </tr>
      <tr>
        <td scope="col">12:30</td>
        <td scope="col">ALL MEMBER</td>
        <td scope="col">受付開始</td>
      </tr>
      <tr>
        <td scope="col">13:00 ~ 13:15</td>
        <td scope="col">Tama.rb オーガナイザー</td>
        <td scope="col">開会・協賛ご紹介</td>
      </tr>
      <tr>
        <td scope="col">13:15 ~ 14:00</td>
        <td scope="col">伊藤さん(仮)</td>
        <td scope="col">基調講演①</td>
      </tr>
      <tr>
        <td scope="col">14:00 ~ 14:15</td>
        <td scope="col"></td>
        <td scope="col">休憩</td>
      </tr>
      <tr>
        <td scope="col">14:15 ~ 14:30</td>
        <td scope="col">〇〇</td>
        <td scope="col">〇〇</td>
      </tr>
      <tr>
        <td scope="col">14:30 ~ 14:35</td>
        <td scope="col"></td>
        <td scope="col">小休憩(5min)</td>
      </tr>
      <tr>
        <td scope="col">14:35 ~ 14:50</td>
        <td scope="col">〇〇</td>
        <td scope="col">〇〇</td>
      </tr>
      <tr>
        <td scope="col">14:50 ~ 14:55</td>
        <td scope="col"></td>
        <td scope="col">小休憩(5min)</td>
      </tr>
      <tr>
        <td scope="col">14:55 ~ 15:10</td>
        <td scope="col">〇〇</td>
        <td scope="col">セッション3</td>
      </tr>  
      <tr>
        <td scope="col">15:10 ~ 15:15</td>
        <td scope="col"></td>
        <td scope="col">小休憩(5min)</td>
      </tr>  
      <tr>
        <td scope="col">15:15 ~ 15:30</td>
        <td scope="col">〇〇</td>
        <td scope="col">セッション4</td>
      </tr>
      <tr>
        <td scope="col">15:30 ~ 15:35</td>
        <td scope="col">〇〇</td>
        <td scope="col">小休憩(5min)</td>
      </tr>
      <tr>
        <td scope="col">15:35 ~ 15:50</td>
        <td scope="col">〇〇</td>
        <td scope="col">セッション5</td>
      </tr>
      <tr>
        <td scope="col">15:50 ~ 15:60</td>
        <td scope="col">〇〇</td>
        <td scope="col">休憩(10min)</td>
      </tr>
      <tr>
        <td scope="col">16:00 ~ 16:10</td>
        <td scope="col">スポンサー様1</td>
        <td scope="col">LT 1</td>
      </tr>
      <tr>
        <td scope="col">16:10 ~ 16:20</td>
        <td scope="col">スポンサー様2</td>
        <td scope="col">LT 2</td>
      </tr>
      <tr>
        <td scope="col">16:20 ~ 16:30</td>
        <td scope="col">スポンサー様3</td>
        <td scope="col">LT 3</td>
      </tr>
      <tr>
        <td scope="col">16:30 ~ 16:45</td>
        <td scope="col"></td>
        <td scope="col">休憩(15min)</td>
      </tr>
      <tr>
        <td scope="col">16:45 ~ 17:30</td>
        <td scope="col">igaさん(仮)</td>
        <td scope="col"></td>
      </tr>
      <tr>
        <td scope="col">17:30 ~ 17:35</td>
        <td scope="col"></td>
        <td scope="col">閉会</td>
      </tr>
      <tr>
        <td scope="col">17:35 ~ 18:00</td>
        <td scope="col"></td>
        <td scope="col">懇親会準備</td>
      </tr>
      <tr>
        <td scope="col">18:00 ~ 19:30</td>
        <td scope="col"></td>
        <td scope="col">懇親会</td>
      </tr>
      <tr>
        <td scope="col">19:30 ~ 20:00</td>
        <td scope="col"></td>
        <td scope="col">お片づけ</td>
      </tr>
    </tbody>
  </table>
</div>

<div id="sponsors" class="container h-100">
  <h1 class="title text-center under-line">スポンサー</h1>
  <br />
  <div class="row">
    <div class="col-md-4">
      <img class="logo" src="{{ deploypath }}/assets/images/gmo.png" />
    </div>
    <div class="col-md-4">
      <img class="logo" src="{{ deploypath }}/assets/images/gmo.png" />
    </div>
    <div class="col-md-4">
      <img class="logo" src="{{ deploypath }}/assets/images/gmo.png" />
    </div>
  </div>
</div>

<div id="staff" class="container">
  <h1 class="title text-center under-line">スタッフ</h1>
  <br />
  <div class="row">
    <div class="col">
      <div class="staff mx-auto" style="width: 200px;">
        <a href="https://github.com/Shigeyuki-fukuda">
          <img class="thumbnail" src="{{ deploypath }}/assets/images/staff/shigeyuki-fukuda.png">
        </a>
        <div class="staff-info">
          <p class="text-center">fuqda</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="staff mx-auto" style="width: 200px;">
        <a href="https://github.com/yrinda">
          <img class="thumbnail" src="{{ deploypath }}/assets/images/staff/yrinda.png">
        </a>
        <div class="staff-info">
          <p class="text-center">yrinda</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="staff mx-auto" style="width: 200px;">
        <a href="https://github.com/yrinda">
          <img class="thumbnail" src="{{ deploypath }}/assets/images/staff/yrinda.png">
        </a>
        <div class="staff-info">
          <p class="text-center">yrinda</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="staff mx-auto" style="width: 200px;">
        <a href="https://github.com/yrinda">
          <img class="thumbnail" src="{{ deploypath }}/assets/images/staff/yrinda.png">
        </a>
        <div class="staff-info">
          <p class="text-center">yrinda</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="staff mx-auto" style="width: 200px;">
        <a href="https://github.com/yrinda">
          <img class="thumbnail" src="{{ deploypath }}/assets/images/staff/yrinda.png">
        </a>
        <div class="staff-info">
          <p class="text-center">yrinda</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="staff mx-auto" style="width: 200px;">
        <a href="https://github.com/yrinda">
          <img class="thumbnail" src="{{ deploypath }}/assets/images/staff/yrinda.png">
        </a>
        <div class="staff-info">
          <p class="text-center">yrinda</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="staff mx-auto" style="width: 200px;">
        <a href="https://github.com/yrinda">
          <img class="thumbnail" src="{{ deploypath }}/assets/images/staff/yrinda.png">
        </a>
        <div class="staff-info">
          <p class="text-center">yrinda</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="staff mx-auto" style="width: 200px;">
        <a href="https://github.com/yrinda">
          <img class="thumbnail" src="{{ deploypath }}/assets/images/staff/yrinda.png">
        </a>
        <div class="staff-info">
          <p class="text-center">yrinda</p>
        </div>
      </div>
    </div>
  </div>
</div>
