<div class="container h-100">
  <div class="row align-items-center h-100">
    <div class="col mx-auto">
      <div class="col text-center mb-4 mb-md-8">
        <p class="display-comming">COMMING SOON</p>
      </div>
      <div class="row align-items-center">
        <div class="col-md-7 text-center text-md-right">
          <h1 class="title">TamaRubyKaigi 2019</h1>
          <p class="description">
            <span>2019/07/06 (Sat) 13:00 - 18:00 </span>
            <span class="text-nowrap">Shibuya, Tokyo</span>
          </p>
        </div>
        <div class="col-md-5 text-center text-md-left">
          <img src="/assets/images/logo_184x152.png" />
        </div>
      </div>
    </div>
  </div>
</div>
