<div class="container h-100">
  <div class="row align-items-center h-100">
    <div class="col mx-auto">
      <div class="col text-center mb-md-8">
        <p class="display-comming">COMMING SOON</p>
      </div>
      <div class="row align-items-center">
        <div class="col-md-7 text-center text-md-right">
          <h1 class="title">Tama Ruby Kaigi 2019</h1>
          <p class="description mb-0">
            <span>2019/07/06 (Sat) 13:00 - 18:20 </span>
          </p>
          <p class="description mb-0">
            <span class="text-nowrap">@Shibuya, Tokyo</span>
          </p>
        </div>
        <div class="col-md-5 text-center text-md-left">
          <img src="{{ deploypath }}/assets/images/logo_184x152.png" />
        </div>
      </div>
    </div>
  </div>
</div>
